################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages/iTextSharp.5.5.11
/PDFTools/.vs/PDFTools/v14
/PDFTools/bin/Debug
/PDFTools/obj/Debug
/.vs/Spring.PdfTools/v14
/packages
/TestTools/bin/Debug
/TestTools/obj/Debug
/UtilityCode/bin/Debug
/UtilityCode/obj/Debug
/Lib/Spire.XLS
/GenerateTools/bin/Debug
/GenerateTools/obj/Debug
/Excel2Pdf/obj/Debug
/Spring.Model/bin/Debug
/Spring.Model/obj/Debug
/Excel2Pdf/Templete/~$templete1.xlsx
/PDFCombineTools/bin/Debug
/PDFCombineTools/obj/Debug
/AuthorizationTool/bin/Debug
/AuthorizationTool/obj/Debug
/AutomaticValidationTool/bin/Debug
/AutomaticValidationTool/obj/Debug
