################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages/iTextSharp.5.5.11
/PDFTools/.vs/PDFTools/v14
/PDFTools/bin/Debug
/PDFTools/obj/Debug
/.vs/Spring.PdfTools/v14
