<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--发包方关键字定义-->
  <FBF>
    <!--发包方调查表-->
    <value desc="发包方调查表">FBFDCB</value>

    <!--发包方名称-->
    <value desc="发包方名称">FBFMC</value>

    <!--发包方负责人-->
    <value desc="发包方负责人">FBFFZR</value>

    <!--承包经营权调查信息公示表-->
    <value desc="承包经营权调查信息公示表">CBJYQDCGS</value>

    <!--工图作底-->
    <value desc="二轮承包清册">ELQC</value>

    <!--公示资料-->
    <value desc="公示资料">GSZL</value>

  </FBF>

  <!--承包关键字定义-->
  <CBF>
    <!--承包方调查表-->
    <value desc="承包方调查表">CBFDCB</value>

    <!--承包方(代表)-->
    <value desc="承包方(代表)名称">CBFMC</value>

    <!--承包方家庭成员-->
    <value desc="承包方家庭成员">CBFJTCY</value>

    <!--承包地块界址点精度评价-->
    <value desc="承包地块界址点精度评价">CBDKJZDJD</value>

    <!--承包地块面积精度评价-->
    <value desc="承包地块面积精度评价">CBDKMJJD</value>
    
    <!--承包经营权调查核实表-->
    <value desc="承包经营权调查核实表">CBJYQDCHS</value>

    <!--承包经营权工作结果归户表-->
    <value desc="承包经营权工作结果归户表">CBJYQGH</value>

    <!--承包依据-->
    <value desc="承包依据">CBYJ</value>
    
    <!--合同-->
    <value desc="合同">HT</value>

  </CBF>


  <!--承包方地块表关键字定义-->
  <CBFDKB>
    <!--承包地块调查表-->
    <value desc="承包地块调查表">CBFDKDCB</value>
  </CBFDKB>

  <!--软件注册码-->
  <RegCode>
    <value></value>
    <!--<value>MjczNDJEN0E2MzZBQzExNDA5c2lubGRvLmNvbQ==</value>-->
  </RegCode>
  
</Config>